<p-confirmPopup></p-confirmPopup>
<div>
  <p>Id: {{form.controls['id'].value}}</p>
  <p>Nome: {{form.controls['nome'].value}}</p>
</div>
<form [formGroup]="form">
  <label>Editar Valor: </label>
  <br>
  <input type="text" formControlName="nome">
  <button (click)="confirm($event)">Trocar</button>
</form>
