<h1>Lista de Nomes</h1>
<ul>
  <li *ngFor="let nome of nomes" (click)="goEditar(nome)">
      <span class="nome-class">{{nome.nome}}</span>
      <button class="botao-nomes" (click)="excluir(nome)">Excluir</button>
  </li>
</ul>
<!-- Componente filho envia o nome digitado no input dele pro pai -->
<app-add-nome (addNomeEvento)="addNome($event)"></app-add-nome>