
ul{
  list-style-type: None;
}

.nome-class{
font-family: "Trebuchet MS";
}

li{

  margin-bottom: 5px;
  width: 20%;
  background-color: #109acc;
  border-radius: 4px 4px 4px 4px;
  padding: 5px;

}

li:hover{
  background-color: rgba(237,230,230,0.29);
  cursor: pointer;
}

button{
  float: right;
}

.botao-nomes{
  color: white;
  background-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
.botao-nomes:hover{
  background-color: #525252;
  color: white;
}
