<fieldset>
  <form [formGroup]="form">
    <legend> Adicionar Nome </legend>
    <input id="nomeInput" name="nomeInput" formControlName="nome"/><button (click)="onAddNome()">Adicionar</button>
  </form>
</fieldset>
