<h1 align="center">Galeria de Imagens</h1>
<form [formGroup]="form" class="p-grid align-center">
  <div class="p-col-12">
    <div class="p-col-12">
      <span class="ml-2">Digite o nome da imagem</span>
    </div>
    <div class="p-col-12">
      <input  id="float-input" type="text" pInputText formControlName="valor"  name="valor" />
    </div>
  </div>
</form>
<div class="p-grid pandding-top10 align-center">
  <div class="p-col-12">
    <div class="p-col-6">
      <p-button label="Adicionar" (onClick)="addImagem()"></p-button>
      <p-button class="pandding-left10" label="Remover" (onClick)="removeImagem()"></p-button>
    </div>
  </div>
</div>
<hr/>
<div *ngFor="let url of urls; let i = index">
  <p-image src="{{'/assets/galeria/'+url+''}}" alt="Image" width="250"></p-image>
</div>
